streamlit
python-dotenv

# LangChain stack - this lets pip find the correct, compatible versions
langchain==0.3.26
langchain-groq
langchain-huggingface

langchain-community
langchain-text-splitters
sentence-transformers
# Parsing
llama-parse
nest-asyncio
markdownify

# Utilities
sqlalchemy
pypdf
docx2txt

langchain-chroma>=0.1.0
chromadb>=0.5.0